praca.bbl
praca.blg
praca.aux
praca.dvi
praca.dcb_latexmk
praca.fls
praca.lof
praca.log
praca.synctex.gz
praca.tex.orig
praca.toc
papers/
praca.blg
praca.bbl
.gitignore
praca.run.xml
.vscode/settings.json
praca-blx.bib
praca-blx.bib
praca.blg
praca.blg
praca.bbl
